<% submit_text ||= 'Post Comment' -%>

<% form_for([story, comment], :html => { :id => nil }) do |f| %>
  <%= f.error_messages %>
  
  <p class="content">
    <%= f.text_area :content %>
  </p>
  <p class="ruled">
    <%= f.hidden_field :reply_to_id %>
    <%= f.submit submit_text %>
  </p>
<% end %>
