<h2 class="ruled">Editing Comment</h2>

<%= render :partial => 'form',
           :locals => { :story => @story,
                        :comment => @comment,
                        :submit_text => 'Save Changes' }%>
