/* HTML5 tags */
header, section, footer, hgroup,
aside, nav, article, figure {
  display: block;
}

html {
  height: 100%;
  font-size: 100.01%;
}

body {
  height: 100%;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.429;
  font-size: 75%;
  color: #444;
  background: #87938b url(/images/sprites.png) repeat-x 0 -280px;
}

a {
  color: #136382;
  outline: none;
  text-decoration: none;
}

a:hover {
  color: #142029;
}

#container {
  width: 660px;
  min-height: 100%;
  margin: 0 auto;
  background: #fff;
}

#banner {
  width: 630px;
  height: 144px;
  padding: 0 15px;
  background: url(/images/sprites.png) repeat-x 0 -136px;
}

h1 {
  float: left;
  width: 185px;
  height: 60px;
  margin: 17px 0;
}

h1 a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -10000px;
  background: url(/images/sprites.png) no-repeat 0 -16px;
}

h1 a:hover {
  background-position: 0 -76px;
}

#about {
  float: left;
  width: 390px;
  height: 50px;
  margin: 20px 0 0 20px;
  padding: 0.25em 0 0 20px;
  border-left: 1px solid #000;
  color: #87938b;
  font-size: 1.1em;
  line-height: 1.65;
}

#about p {
  font-weight: bold;
  line-height: inherit;
}

#user-bar {
  line-height: inherit;
}

#user-bar strong {
  font-weight: bold;
  color: #fff;
}

#user-bar a {
  margin-right: 0.2em;
  padding: 5px 7px;
  background-color: #283f51;
  border: 1px solid #000;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
}

#user-bar a:hover {
  background: #000;
}

#banner nav {
  clear: left;
  height: 50px;
}

#views {
  display: block;
  float: left;
}

#actions {
  display: block;
  float: right;
}

#banner nav li {
  display: inline-block;
  margin: 0 0.05em;
  line-height: 50px;
  color: #fff;
}

#views a {
  display: inline-block;
  padding: 0 1.1em;
  line-height: inherit;
  color: inherit;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}

#views a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#views a.current {
  color: #f09f1c;
  background-color: #fff;
}

#actions a {
  margin-right: 0.2em;
  padding: 7px 10px 5px 10px;
  background-color: #0c7ca7;
  border: 1px solid #064e6a;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#actions a:hover {
  background-color: #064e6a;
}

#notice, #error {
  width: 620px;
  margin: 0 auto;
  padding: 10px 20px;
}

#notice p, #error p {
  font-weight: bold;
  font-size: 1.1em;
  color: #fff;
}

#error {
  background: #f02b1c;
}

#notice {
  background: #f09f1c;
}

#content {
  width: 620px;
  padding: 20px;
}

#content h2 {
  font-size: 2.4em;
  line-height: 1.4;
}

.ruled {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #87938b;
}

.story {
  position: relative;
  line-height: 1.3;
  padding-left: 4.8em;
}

.story .radd-count {
  position: absolute;
  left: 0;
}

.story h3 {
  line-height: inherit;
  margin-bottom: 0.2em;
}

.story h3 a {
  font-size: 1.8em;
  text-decoration: none;
  line-height: inherit;
}

.story p {
  line-height: inherit;
  margin-bottom: 0.9em;
}

.story p a {
  color: inherit;
  text-decoration: none;
}

.story p a:hover {
  color: #000;
}

.story em {
  font-size: 0.8em;
  line-height: inherit;
  color: #87938b;
}

.story em a {
  color: #636c66;
  text-decoration: none;
  border-bottom: 1px dotted #87938b;
}

.story em a:hover {
  color: #343936;
}

.story footer {
  font-size: 0.9em;
  line-height: inherit;
}

.story footer .comments {
  display: inline-block;
  line-height: inherit;
  color: inherit;
  margin-right: 0.8em;
  padding: 2px 0;
  padding-left: 20px;
  background: url(/images/sprites.png) no-repeat 0 0;
  text-decoration: none;
}

.story footer .comments:hover {
  color: #000;
  text-decoration: underline;
}

.story footer time {
  line-height: inherit;
  color: #87938b;
}

.comments {
  line-height: 1.4;
}

.comments h3 {
  font-size: 1.5em;
  line-height: inherit;
}

/* HACK: Allow textarea to span 100% width with padding. */
.comments .content { margin: 0 6px; }
.comments .content textarea {
  width: 100%;
  margin-left: -6px;
}

.comment {
  position: relative;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #d6dad7;
  line-height: 1.2;
}

.comment .details {
  position: absolute;
  left: 0;
  font-size: 0.9em;
  line-height: inherit;
  width: 8em;
}

.comment .details a {
  font-weight: bold;
  color: inherit;
}

.comment .details a:hover {
  text-decoration: underline;
}

.comment .details time {
  display: block;
  color: #87938b;
}

.comment p, .comment footer, .comment form {
  margin-left: 8em;
}

.comment p {
  margin-bottom: 0.6em;
}

.comment footer {
  margin-bottom: 0.8em;
}

.comment footer * {
  font-size: 0.9em;
}

.comment .edit, .comment .reply {
  float: right;
  margin-left: 1em;
}

/* Toggles. */
.comment form { display: none; }
.comment ol { display: none; }

.comment form .ruled {
  margin: 0;
  padding: 0;
  border-bottom: 0;
}

.comment ol {
  margin-left: 2em;
}

strong {
  font-weight: bold;
  color: #f09f1c;
}

strong a {
  color: inherit;
}

strong a:hover {
  color: inherit;
  text-decoration: underline;
}

.radd-count .count {
  display: block;
  margin-right: 3px;
  padding: 6px 8px;
  background-color: #f09f1c;
  border: 1px solid #f09f1c;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
}

.radd-count .count:hover {
  color: rgba(255, 255, 255, 0.7);
}

.radd-count .count strong {
  display: block;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2;
  color: inherit;
}

.radd-count .raddit {
  display: block;
  width: 2.8em;
  margin: 0.1em auto 0 auto;
  padding: 3px 5px;
  font-size: 0.8em;
  text-decoration: none;
  text-align: center;
  color: #d3ddd7;
}

.radd-count a.raddit {
  color: #87938b;
}

.radd-count a.raddit:hover {
  color: #f09f1c;
}

hgroup h2 {
  display: inline-block;
  margin-right: 0.2em;
}

hgroup h3 {
  display: inline-block;
  font-size: 1.5em;
  color: #87938b;
  vertical-align: 0.1em;
}

#edit-profile, #edit-story {
  float: right;
  display: inline-block;
  padding: 4px 6px;
  background-color: #fff;
  border: 1px solid #87938b;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  color: #87938b;
  text-decoration: none;
}

#edit-profile:hover, #edit-story:hover {
  background: #87938b;
  color: #fff;
}

#user-profile {
  padding-bottom: 0.8em;
}

dl {
  line-height: 2.5;
}

dl dt {
  position: absolute;
  font-weight: bold;
  line-height: inherit;
  
}

dl dd {
  margin-left: 10em;
  line-height: inherit;
}

#back-to-top {
  display: inline-block;
  padding: 5px 7px;
  background-color: #fff;
  border: 1px solid #87938b;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  color: #87938b;
  font-size: 1.1em;
  text-decoration: none;
}

#back-to-top:hover {
  background: #87938b;
  color: #fff;
}
