<%= link_to "<strong>#{story.radds.net_count}</strong> radds", story, :class => "count" %>
<% if logged_in? -%>
  <% if current_user.has_radd?(story) %>
    <span class="status">radd</span>
  <% elsif current_user.has_buried?(story) %>
    <span class="status">buried</span>
  <% else -%>
    <%= link_to "raddit", radd_story_path(story), :method => :post, :class => "status" %>
  <% end -%>
<% end -%>