<%= link_to "<strong>#{story.sum_of_votes}</strong> #{pluralize_word(story.sum_of_votes.abs, "radd")}", story, :class => "count" %>
<% if logged_in? -%>
  <% if current_user.voted_for?(story) %>
    <span class="status">radd</span>
  <% elsif current_user.voted_against?(story) %>
    <span class="status">buried</span>
  <% else -%>
    <%= link_to "raddit", radd_story_path(story), :method => :post, :class => "status" %>
  <% end -%>
<% end -%>